body {
background: #000000;
text-align: center;
}
#main {
width: 1000px;
height: 2560px;
background: #fff	;
margin: 25px auto;
border: solid 5px #676767;
}
#status {
width: 675px;
height: 100px;
background: #FF0000	;
margin: 50px auto;
}
h1{
text-align: center;
font-family:"Times New Roman";
font-size: 50pt;
}
h2{
text-align: center;
margin: 5px;
font-family:"Times New Roman";
font-size: 50pt;
}
